.contents-box{
    position: relative;
}
.scroll-box{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow-y: auto;

}
.guset-box{

    margin-bottom: 2rem;
}
.guest-title{
    height: 2rem;
    background-color: rgb(197, 197, 194);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin: 0 0 0.5rem;
}
.guest-content{
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    margin: 0 0 1.2rem;
    
}
.guest-photo{
    flex: 0 0 8rem;
    height: 8rem;
    
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
 .background-1{
    background-image: url("./images/background-1.png");
} 
.background-2{
    background-image: url("./images/background-2.png");
} 
.guest-photo > img {
    width: 80%;
  }

.guest-text{
    flex: 1;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    line-height: 1.5;

}