body {
  background-color: #a3a3a3;
  background-image: url("../static/images/pattern.png");
  background-size: 100px;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  font-size: 16px;
}

.bookcover {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #738186;

  width: 960px;
  height: 660px;
  margin: 100px auto;
  position: relative;
}
.bookdot{
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;

  border-radius: 9px;
  border: 2px dashed white;
  
}
.page{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;

  padding:15px;

  background-color: #eeeeee;
  border-radius: 9px;

  display: flex;
}

.profile-container{
  flex: 0.42;
  
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.contents-container{
  flex: 1.2;
  
  display: flex;
  flex-direction: column;  
}
.menu-container{
  flex: 0.2;
  /* border: 1px solid #808080; */
  padding: 3rem 1rem 3rem 0;
}

.mini-box{
  flex: 0.1;
}
.box{
  flex: 2;

  background-color: white;
  border-radius: 9px;
  border: 1px solid #cdcdcd;
}
.menu-box{
  display: flex;
  flex-direction: column;
}
.menu-category{
  background-color: #ABA9EE;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: solid 0.5px #bdbdbd;
  border-left: none;

  /* text-align: center; */
  padding: 0.1rem 0.3rem;
 
  margin: 0.5rem 0;
}
.menu-category > a {
  padding: 0 auto;
  color: black;
  text-decoration: none;
}
.menu-category:hover {
  background-color: #6561EB;
}

/* profile,content 제목부분 */
.profile-title{
  font-size: 0.8rem;
  display: flex;            /*정렬을 위해*/
  justify-content: center;  /*수평방향정렬*/
  align-items: center;      /*수직방향정렬*/
}
.profile-today{
  color: red;
}

.contents-title{
  display: flex;
  align-items: center;      /*수직방향정렬*/
}
.contents-title-name{
  flex: 0.5;
  font-family: 'KyoboHand';

}
.contents-title-url{
  flex: 0.5;
  font-size: 0.75rem;
  text-align: end;
}

/* profile */
.profile-box{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.profile-image{
  flex: none;
}
.profile-image-img{
  width: 100%;
  height: 100%;
}
.profile-introduce{
  flex: 1;

  margin-top: 20px;
  font-family: 'KyoboHand';
}
.profile-usernema{
  flex: 0;
}
/* 파도타기 */
.profile-dropdown{
  flex: 0;
  border: 1px solid #c9d4da;
  padding: 5px;
  margin-top: 10px;
  font-size: 0.8rem;
  position: relative;
  
}
.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 5px solid #838383;
}

.dropdown-content {
  display: none;        /*일반적으로 요소가 보이지 않는다.*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*profile-dropdown가 hover상태일때 하위요소인 dropdown-contentsdp 속성을 적용한다.*/
.profile-dropdown:hover > .dropdown-content {
  display: block;       /*dropdown-content가 보인다.*/
}

/* dropdown-content의 하위요소 a에 속성 적용 */
.dropdown-content > a {
  display: block;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 6px;
  color: black;
  text-decoration: none;
}

/* dropdown-content의 하위요소인 a의 상태가 hover일때 a에 속성적용 */
.dropdown-content > a:hover {
  background-color: #f1f1f1;
  /* 마우스가 링크위에 올라왔을때 배경색을 변경시켜 선택하려고하는 링크가 무엇인지 알 수 있다. */
}

.contents-box{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.kyobohand{
  font-family: 'KyoboHand';
}