.contents-box{
    position: relative;
}
.photo-scroll{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow-y: auto;

}
.photo-post-flex{

    margin: 5px;
   

}
.photo-title{
    height: 2rem;
    background-color: rgb(197, 197, 194);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    
}
.photo-post{
    padding: 1rem;
    display: flex;
    flex-direction: column;

}
.photo-img{
    margin-bottom: 1rem;
}
.photo-img > img{
    max-width: 100%;
}
.photo-write{
    padding: 0 0 1rem;
    border-bottom: 1px solid #a9a9a9;
}

.post-font{
    font-family: 'GyeonggiBatang';
    font-size: 0.8rem;
}